.categories{
    padding:80px 8%;
    background:white;
}

.categories h2{
    text-align:center;
    margin-bottom:50px;
    font-size:38px;
}

.category-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:30px;
}

.category-card{
    background:#fff8f1;
    border-radius:20px;
    text-align:center;
    padding:35px;
    transition:.3s;
    cursor:pointer;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.category-card:hover{
    transform:translateY(-10px);
}

.category-card h3{
    margin-top:15px;
}

.category-card{
    font-size:55px;
}